*{ 
  margin-left: 12px;
}
body {
  font-family: "Poppins";
}
.navi-div { 
  display: flex;
}

.bar{ 
  background-color: rgb(208, 207, 207);
  color: white;
  font-size: x-large;
  font-family: "Poppins";
  
  border-radius: 12px;
}
.Heading { 
font-size: xx- large;
font-style: oblique;
color: rgb(249, 121, 142);
}

.food { 
  font-family: serif;
  font-size: small;
  color: black;
}
.food::selection { 
  background-color: rgb(159, 239, 159);
}
.hmm { 
  padding: x 24px;;
}
.hmm::selection{  
  color: black;
  background: rgb(159, 239, 159);
}
a:link{ 
  color: rgb(249, 121, 142);
}
a:visited{ 
  color: green;
}
.img-div{  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.img { 
  width: 500px;
  height: 300px;
}
